:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--heading-font: 'BioRhyme', sans-serif;

	--blue: #1E40AF;
	--green: #15803D;
	--red: #DC2626;
	--yellow: #FDE047;

	--button-bg: #FDE047;
	--button-border: #EAB308;
}

@font-face {
	font-display: swap;
	font-family: 'BioRhyme';
	src: url('~/assets/fonts/BioRhyme/BioRhyme-Medium.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 0.1px;
}

.content {
	margin: auto;
	max-width: 90rem;
	width: 100%;
}

h1, h2, h3 {
	font-family: var(--heading-font);
}

h1, h2 {
	color: var(--blue);
}

h1 {
	margin: 1rem;
}

h3 {
	color: var(--green);
}

button {
	background-color: transparent;
	border: none;
	font-size: 1em;
	padding: 0;
}

.button {
	background-color: var(--button-bg);
	border: 1px solid var(--button-border);
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
	text-align: center;
}

.form-field {
	background-color: white;
	border: 1px solid #CCC;
	border-radius: 0.25rem;
	font-size: 1em;
	padding: 0.25rem 0.5rem;
}

.form-label {
	display: block;
	margin: 1rem 0;

	& > span {
		display: block;
		padding-inline: 0.5rem;
	}
}

.entity-tags {
	display: flex !important;
	flex-wrap: wrap;
	padding: 0;

	& li {
		list-style: none;
		margin: 0 0.75rem 0.5rem 0;
		padding: 0;
	}
}

.sr-only {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.text-danger {
	color: var(--red);
}
