:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 0.1px;
}

#app {
	margin: auto;
	max-width: 80rem;
	width: 100%;
}

h1 {
	margin: 1rem;
}

button {
	background-color: transparent;
	border: none;
	font-size: 1em;
	padding: 0;
}

.button {
	background-color: #DDDD;
	border: 1px solid #CCCC;
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
	text-align: center;
}

.form-field {
	background-color: #FFFD;
	border: 1px solid #CCCC;
	border-radius: 0.25rem;
	font-size: 1em;
	padding: 0.25rem 0.5rem;
}

.form-label {
	display: block;
	margin: 1rem 0;

	& > span {
		display: block;
		padding-inline: 0.5rem;
	}
}
